@import '../shared/styles/vars.scss';

:host {


    .checkbox-container {
        display: inline-block;
        position: relative;


        label {
            background-color: $gray;
            border: 1px solid #fff;
            border-radius: 20px;
            display: inline-block;
            position: relative;
            transition: all 0.3s ease-out;
            width: 45px;
            height: 25px;
            z-index: 2;
               cursor: pointer;

            &::after {
                content: ' ';
                background-color: $white;
                border-radius: 50%;
                position: absolute;
                top: 1.5px;
                left: 1px;
                transform: translateX(0);
                transition: transform 0.3s linear;
                width: 20px;
                height: 20px;
                z-index: 3;
            }
        }

        input {
            visibility: hidden;
            position: absolute;
            z-index: 2;
        }

        input:checked+label+.active-circle {
            transform: translate(-50%, -50%) scale(15);
        }

        input:checked+label::after {
            transform: translateX(calc(100% + 0.5px));
        }

        &.green input:checked+label {
            background-color: $green;
        }

        &.yellow input:checked+label {
            background-color: $yellow;
        }

        &.red input:checked+label {
            background-color: $red;
        }
    }

    table {
        width: 100%;
    }

    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }



    .red {
        color: $red;
    }

    .scroll-div {
        height: 720px;
        overflow-y: auto;
    }

    thead {
        border-bottom: 3px solid $black-2;
        box-shadow: 0px 0px 10px $black-2;
    }


    tbody td,
    thead th {
        width: 9.5%;
        float: left;
        border: none;

        &.small-width {
            width: 3%;
        }

        &.medium-width {
            width: 8%;
        }

        &.large-width {
            width: 16%;
        }
    }

    tr {
        td {
            text-transform: uppercase;

            .offers {
                font-size: 12px;
            }

            &.jason-offer {
                padding: 19px 0;

                input {
                    margin: 0;
                    padding: 5px 3px;
                    border: none;
                    display: inline-block;
                    width: 83%;
                    outline: none;
                    margin-left: 6%;
                }
            }

        }

        a {
            color: $black-2;

            &:hover {
                text-decoration: underline;
            }
        }

        &.buy-row {
            position: relative;
            background: $black-2;
            color: $white;

            &.yellow {
                border-bottom: 5px solid $yellow;
            }

            &.green {
                border-bottom: 5px solid $green;
            }

            &.red {
                border-bottom: 5px solid $red;
            }

            .triangle-bottomleft {
                width: 0;
                height: 0;
                border-bottom: 40px solid $red;
                border-right: 50px solid transparent;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;


            }

            .fa-water {
                position: absolute;
                bottom: 4px;
                left: 4px;
                z-index: 2;
            }

            a {
                color: $white;
            }
        }


    }


}