@import '../shared/styles/vars.scss';

:host {

    table {
        width: 100%;
    }

    thead,
    tbody,
    tr,
    td,
    th {
        display: block;
    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    thead th {
        // height: 30px;

        /*text-align: left;*/
    }

    .red {
        color: red;
    }

    .scroll-div {
        height: 720px;
        overflow-y: auto;
    }

    thead {
        border-bottom: 3px solid #333;
        box-shadow: 0px 0px 10px #333;
    }


    tbody td,
    thead th {
        width: 9.5%;
        float: left;

        &.small-width {
            width: 3%;
        }

        &.medium-width {
            width: 8%;
        }

        &.large-width {
            width: 16%;
        }
    }

    td,
    th {
        border: none;

    }

    tr {
        td {
            text-transform: uppercase;



        }

        a {
            color: #333;

            &:hover {
                text-decoration: underline;
            }
        }

        &.buy-row {
            position: relative;
            background: #333;
            color: #f1f1f1;
            border-bottom: 3px solid #0EA2CC;

            .triangle-bottomleft {
                width: 0;
                height: 0;
                border-bottom: 40px solid red;
                border-right: 50px solid transparent;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;


            }

            .fa-water {
                position: absolute;
                bottom: 4px;
                left: 4px;
                z-index: 2;
            }

            a {
                color: #f1f1f1;
            }
        }


    }


}